<html>
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="base.css" />
        <title>
                {% block title %}
                {{title}}
                {% endblock %}
        </title>
    </head>
    <body class="container">
        <div class="header" >
            <h1>
                {% block pagetitle %}
                {{title}}
                {% endblock %}
            </h1>
        </div>
        <div class="menu">
            {% block menu %}

            {% endblock %}
        </div>
        <div class="main">
            {% block content %}

            {% endblock %}
        </div>
        <div class="footer">
            {% block license %}
            {{license}}
            {% endblock %}
        </div>
    </body>
</html>