.header{
    grid-area: header;
    background-color: black;
    color:white;
    font-weight: bold;
}

.menu{
    grid-area: menu;
    background-color: darkslategrey;
    max-width: 200px; 
    /*avoids increase of width with wider screens with menu*/
}

.main{
    grid-area: main;
    background-color: #ffcccc;
    min-height: 400px;
}

.footer{
    grid-area: footer;
    background-color: black;
    font-weight: bold;
    color: white;
    font-size: 2vh;
}

h1{font-size: 4vh;}

.container{
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'menu main main main main'
        'menu footer footer footer footer';
    grid-gap: 1%;
    background-color: springgreen;
    font-family: sans-serif;
}