{% extends 'base.html' %}

{% block content %}

    {% block description %}
    {{description}}
    {% endblock %}

    {% if town_list %}

    <ul>
        {% for town in town_list %}
        <li>
            {{ Stadt.ort }}
        </li>
    {% endfor %}
    </ul>

    {% else %}
    <p>Keine Stadt gefunden</p>
    {% endif %}


{% endblock %}